<div class="pb-2 mt-4 mb-2 border-bottom">
  <h2 class="d-inline"><%= fa_icon 'users-cog', class: 'text-success' %> Administration</h2>
  <%= link_to guide_path(anchor: "administration") do %>
    <%= fa_icon 'question-circle', type: :regular, title: "Ouvrir l'aide", class: 'text-muted mx-2' %>
  <% end %>
</div>
<br />

<div class="row" style="gap: 2rem;">
  <div class="col">
    <ul class="list-group">
      <li class="list-group-item">
        <h4 class="my-1">
          <%= fa_icon 'city' %> 
          <%= link_to organisation_url(current_user.organisation), title: "Organisation, Structures, Vacances", class: "text-muted text-decoration-none" do %>Organisation<% end %>
        </h4>
      </li>

      <li class="list-group-item"></li>

      <li class="list-group-item">
        <h4 class="my-1 d-inline">
          <%= fa_icon 'user-friends' %>
          <%= link_to users_admin_index_path, class: "text-muted text-decoration-none" do %>
            Utilisateurs / Portail Parents
          <% end %>
        </h4>
      </li>

      <li class="list-group-item"></li>

      <li class="list-group-item">
        <h4 class="my-1">
          <%= fa_icon 'euro-sign' %>
          <%= link_to admin_tarifs_url, title: "Tarifs, Types de tarifs et de Prestations", class: "text-muted text-decoration-none" do %>
            Prestations et Tarifs
          <% end %>
        </h4>
      </li>

    </ul>  
  </div>

  <div class="col">
    <ul class="list-group">

      <li class="list-group-item">
        <h4 class="my-1">
          <%= fa_icon 'calendar-day' %>
          <%= link_to 'Comptabilisation prestations', admin_ajout_prestations_path, class: "text-muted text-decoration-none" %>
        </h4>
      </li>

      <li class="list-group-item"></li>

      <li class="list-group-item">
        <h4 class="my-1">
          <%= fa_icon 'calendar-day' %>
          <%= link_to 'Facturation prestations', admin_ajout_factures_path, class: "text-muted text-decoration-none" %>
        </h4>
      </li>

      <li class="list-group-item"></li>

      <li class="list-group-item">
        <h4 class="my-1">
          <%= fa_icon 'paper-plane' %>
          <%= link_to 'Envoyer les factures', admin_envoyer_factures_path, class: "text-muted text-decoration-none" %>
        </h4>
      </li>

      <li class="list-group-item"></li>

      <li class="list-group-item">
        <h4 class="my-1">
          <%= fa_icon 'envelope' %>
          <%= link_to 'Messages (contestations)', messages_path, class: "text-muted text-decoration-none", title:"Journal d'activité des envois de courriels" %>
          <% if @unread_messages > 0 %>
            <span class="badge text-bg-danger rounded-pill ms-2"style="font-weight: 900"><%= @unread_messages %></span>
          <% end %>
        </h4>
      </li>

      <li class="list-group-item"></li>

      <li class="list-group-item">
        <h4 class="my-1">
          <%= fa_icon 'mail-bulk' %>
          <%= link_to 'Mail Logs', mail_logs_path, class: "text-muted text-decoration-none", title:"Journal d'activité des envois de courriels" %>
        </h4>
      </li>

    </ul>
  </div>

  <div class="col">
    <ul class="list-group">

      <li class="list-group-item">
        <h4 class="my-1">
          <%= fa_icon 'search' %>
          <%= link_to 'Audit des modifications', admin_audit_path, class: "text-muted text-decoration-none" %>
        </h4>
      </li>

      <li class="list-group-item"></li>

      <li class="list-group-item">
        <h4 class="my-1">
          <%= fa_icon 'file-import' %>
          <%= link_to 'Importer', admin_import_path, class: "text-muted text-decoration-none" %>
        </h4>
      </li>

      <li class="list-group-item"></li>

      <li class="list-group-item">
        <h4 class="my-1">
          <%= fa_icon 'comment-dots' %>
          <%= link_to 'Messages de factures', facture_messages_path, title: "Afficher en bas de vos factures et dans l'e-mail d'accompagnement" ,class: "text-muted text-decoration-none" %>
        </h4>
      </li>

    </ul>
  </div>

</div>

<hr class="style-two mt-5 mb-3">
<div class="d-flex justify-content-between">
  <div>
    <form action="https://www.paypal.com/donate" method="post" target="_top">
    <input type="hidden" name="hosted_button_id" value="SQEYZWYLARH7U" />
    <input type="image" src="https://www.paypalobjects.com/fr_FR/FR/i/btn/btn_donateCC_LG.gif" border="0" name="submit" title="PayPal - The safer, easier way to pay online!" alt="Bouton Faites un don avec PayPal" />
    <img alt="" border="0" src="https://www.paypal.com/fr_FR/i/scr/pixel.gif" width="1" height="1" />
    </form>
  </div>
  <div>
    <% if current_user.admin? %>
      <h2 class="mb-6">Zone dangereuse</h2>
      <%= link_to "Supprimer mon organisation", suppression_organisation_organisation_path(current_user.organisation), class:"link link-danger" %>
    <% end %>
  </div>
</div>