
<nav class="navbar navbar-expand-lg fixed-top bg-white shadow-sm">
  <div class="container-fluid">
    <%= link_to (user_signed_in? ? comptes_path : root_path), class: 'navbar-brand fw-bold' do %>
      <% if (user_signed_in? && current_user.visiteur? && @compte) %> 
        Mon compte (<%= @compte.nom_civilité %>)
      <% else %>
        <%= image_tag "logo.png", class: "mb-lg-2" %>
      <% end %>
    <% end %>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <% if user_signed_in? %>
          <% if current_user.visiteur? %>
            <%= navbar_nav_item('moncompte', 'users', 'dark', moncompte_index_path, 'Mon compte') %>
          <% else %>
            <%= navbar_nav_item('comptes', 'users', 'dark', comptes_path) %>
            <%= navbar_nav_item('enfants', 'child', 'primary', enfants_path) %>
            <%= navbar_nav_item('reservations', 'calendar-alt', 'warning', reservations_path, 'Réservations') %>
            <%= navbar_nav_item('absences', 'calendar-times', 'danger', absences_path) %>
            <%= navbar_nav_item('pointages', 'calendar-check', 'success', pointages_path) %>
            <%= navbar_nav_item('prestations', 'utensils', 'secondary', prestations_path) %>
            <%= navbar_nav_item('factures', 'file-invoice', 'info', factures_path) %>
            <%= navbar_nav_item('paiements', 'money-bill-alt', 'success', paiements_path) %>
          <% end %>
        <% else %>
          <%= navbar_nav_item('accueil', 'home', 'primary', root_path) %>
          <%= navbar_nav_item('guide', 'book', 'info', guide_path) %>
          <%= navbar_nav_item('actualites', 'comment', 'success', actualites_path, 'Blog') %>
          <%= navbar_nav_item('messages', 'comments', 'warning', new_message_path, 'Contact', false) %>
        <% end %>
      </ul>
      <div class="d-flex">
        <% unless user_signed_in? %>
          <%= link_to "Connexion", 
              new_user_session_path, 
              class: "btn btn-outline-success" 
          %>
        <% else %>
          <% if current_user.admin? %>
            <%= link_to "Admin", 
                admin_index_path, 
                class: "btn btn-sm btn-link me-1" 
            %>

            <% if current_user.organisation.en_dépassement_plan_gratuit? %>
              <p class="text-danger me-1">
                <i class="fas fa-exclamation-circle" title="La limite de la formule libre et gratuite a été dépassée !"></i>
              </p>
            <% end %>    

            <%= link_to "Stats", 
                dashboard_path, 
                class: "btn btn-sm btn-link me-1",
                'data-turbo': false
            %>
            <%= link_to "Guide", 
                guide_path, 
                class: "btn btn-sm btn-link me-1" 
            %>
          <% end %>
          <%= button_to 'Déconnexion', destroy_user_session_path, class: "btn btn-outline-danger btn-sm", method: :delete %>
        <% end %>
      </div>
    </div>
  </div>
</nav> 

<div style="height: 80px;"></div>